* {
    margin: 0;
    padding: 0;
}

.box {
    width: 100px;
    height: 100px;
    float: left;
}

.box1 {
    background-color: blue;
}
.box2 {
    background-color: red;
}
.box3 {
    background-color: rebeccapurple;
}